
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 20, 25);
}

.card {
    position: relative;
    padding: 10px;
    width: max(20vw, 20em);
    height: max(25vw, 25em);
    background-color: rgb(21, 21, 21);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.441);
    border-radius: 10px;
}

.card div {
  margin-bottom: 10px;
}
.card img {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid purple; 
}
.card .clear {
  width: 100%;
  height: 15%;
}
.card .title {
  width: 100%;
  height: 30%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(168, 5, 168);
}

.card .title h1{
  animation: text 5s infinite;
}

@keyframes text {
  0%, 100%{
    transform: translateY(80px);
  } 50%{
    transform: translateY(-12px);
  }
}

.card .content {
  width: 100%;
  height: 47%;
  transform: translateY(32%);
  font-size: 34px;
  color: purple;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.card .content .button button{
  background-color: rgb(21, 21, 21);
  font-size:25px ;
  color: purple;
  width: 150px;
  height: 60px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.441);
  cursor: pointer;
}